table{
    border: thick solid black;
    border-collapse: collapse;
}
td,tr{
    border: thin solid black;
    height: 3rem;
    width: 3rem;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
}
td:first-child{
    border-right: thick solid black;
}
tr:first-child{
    border-bottom: thick solid black;
}
.hajo{
    background-color: coral;
}
.hajo:hover::before{
    content: "\274C";
    text-align: center;
    vertical-align: middle;
}
.mind:hover{
    background-color: lightgray;
}