table{
    border: thick solid black;
    border-collapse: collapse;
    margin: auto;
}
td{
    width: 3rem;
    height: 3rem;
    border: thin solid black;
    text-align: center;
    font-weight: bold;
    color: white;
}
.fekete{
    background-color: black;
}
.kont{
    display: flex;
}
.kek{
    background-color: lightblue;
}
.ego::after{
    content: "\1F4A1";
    background-color: lightblue;
}