table{
    margin: 1em auto;
    border-collapse: collapse;
}
td,th{
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    vertical-align: middle;
}
tbody > tr:nth-child(1n){
    border-bottom: thin solid lightgray;
}

tbody > tr > td:nth-child(1n){
    border-right: thin solid lightgray;
}

tbody > tr:nth-child(3n){
    border-bottom: medium solid black;
}
tbody > tr >td:nth-child(3n){
    border-right: medium solid black;
}

tbody > tr:first-child > td {
    border-top: medium solid black;
}
tbody > tr:last-child > td{
    border-bottom: medium solid black;
}
tbody > tr > td:first-of-type{
    border-left: medium solid black;
}
tbody > tr > td:last-of-type{
    border-right: medium solid black;
}