body{
    background-color: black;
}
table{
    background-color:rgb(43, 42, 42);
    border: thin solid white;
    margin: auto;
}
td,th{
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    vertical-align: middle;
}
tfoot{
    background-color: white;
    border-bottom: thin solid black;
}

.green{
    border: solid green;
    border-radius: 50%;
    background-color: gray;
}

.red{
    border: solid red;
    border-radius: 50%;
    background-color: gray;
}

.yellow{
    border:solid yellow;
    border-radius: 50%;
    background-color: gray;
}

.blue{
    border: solid blue;
    border-radius: 50%;
    background-color: gray;
}

.orange{
    border: solid orange;
    border-radius: 50%;
    background-color: gray;
}

.topgreen{
    border-top: solid green;
}

.topred{
    border-top: solid red;
}

.topyellow{
    border-top:solid yellow;
}

.topblue{
    border-top: solid blue;
}

.toporange{
    border-top: solid orange;
}